.u-text-default {
  color: var(--text-default);
}

.u-text-white {
  color: var(--text-white);
}

.u-text-secondary {
  color: var(--text-secondary);
}

.u-text-light {
  color: var(--text-light);
}

.u-text-dark-light {
  color: var(--text-dark-light);
}