@use "../01_settings/settings.spacing";

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-4 {
  margin-bottom: settings.$space-4;
}

.u-mb-8 {
  margin-bottom: settings.$space-8;
}

.u-mb-12 {
  margin-bottom: settings.$space-12;
}

.u-mb-16 {
  margin-bottom: settings.$space-16;
}

.u-mb-24 {
  margin-bottom: settings.$space-24;
}

.u-mb-32 {
  margin-bottom: settings.$space-32;
}

.u-mt-4 {
  margin-top: settings.$space-4;
}

.u-mt-8 {
  margin-top: settings.$space-8;
}

.u-mt-12 {
  margin-top: settings.$space-12;
}

.u-mt-16 {
  margin-top: settings.$space-16;
}

.u-mt-32 {
  margin-top: settings.$space-32;
}

.u-mt-48 {
  margin-top: settings.$space-48;
}

.u-mt-64 {
  margin-top: settings.$space-64;
}