@use "../01_settings/settings.typography";
@use "../01_settings/settings.spacing" as spacing;

:root {
  --vh: 1vh;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  @include settings.text('text-m', var(--text-default));
  overflow-x: hidden;
  background-color: var(--color-neutral-1);
  background-size: spacing.$space-40 spacing.$space-40;
  background-image: radial-gradient(circle, var(--color-neutral-2) .1rem, rgba(0, 0, 0, 0) .1rem);
}

[data-page-target="slot"] {
  [data-page-is-loading-value="true"] & {
    opacity: 0.5!important;
    pointer-events: none!important;
  }
}
