@use "../01_settings/settings.typography";
@use "../01_settings/settings.spacing" as spacing;
@use "../01_settings/settings.typography" as typo;

:root {
  --vh: 1vh;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  @include settings.text('text-m', var(--text-default));
  overflow-x: hidden;
  background-color: var(--color-neutral-1);

  &::before {
    display: block;
    content: "";
    position: fixed;
    inset: 0;
    background-size: spacing.$space-40 spacing.$space-40;
    background-image: radial-gradient(circle, var(--color-neutral-2) .1rem, rgba(0, 0, 0, 0) .1rem);
  }
}

[data-page-target="slot"] {
  [data-page-is-loading-value="true"] & {
    opacity: 0.5!important;
    pointer-events: none!important;
  }
}

[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  background: var(--color-neutral-2);
  padding: .5rem;
  border-radius: var(--radius-sm);
  top: calc(100% + .5rem);
  z-index: 2;
  @include typo.text('text-s', var(--text-white));
}