@use "../01_settings/settings.spacing";
@use "../01_settings/settings.media-queries" as queries;

.c-single-rea {
  padding: settings.$space-56 0;

  @include queries.max-width(lg) {
    padding: settings.$space-40 0;
  }

  .swiper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "slider slider"
      "pagination navigation"
    ;

    @include queries.max-width(lg) {
      grid-template-areas:
        "slider slider"
        "pagination pagination"
      ;
    }
  }

  .swiper-wrapper {
    grid-area: slider;
  }

  .swiper-pagination {
    position: static;
    grid-area: pagination;
    margin-top: settings.$space-10;

    @include queries.min-width(lg) {
      width: fit-content !important;
    }
  }

  .swiper-pagination-bullet {
    background-color: white;
  }

  .c-single-rea__arrows {
    grid-area: navigation;
    margin-top: settings.$space-10;
  }
}

.c-single-rea__back {
  background: var(--color-gradient);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  svg {
    transform: rotate(90deg);
  }
}

.c-single-rea__infos {
  margin: settings.$space-40 0 settings.$space-24 0;

  h1 {
      display: flex;
      align-items: center;
      gap: settings.$space-12;
      flex-wrap: wrap;
  }

  //& > div {
  //  margin-bottom: settings.$space-12;
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-between;
  //  flex-wrap: wrap;
  //  gap: settings.$space-8;
  //}
}

.c-single-rea__links {
  display: flex;
  align-items: center;
  gap: settings.$space-12;
  justify-content: end;
  margin-bottom: settings.$space-12;
}

.c-single-rea__arrows {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;

  @include queries.max-width(lg) {
    display: none;
  }

  .swiper-button-disabled {
    opacity: .5;
  }
}

.c-single-rea__prev {
  svg {
    transform: rotate(180deg);
  }
}

.c-single-rea__technos {
  margin-bottom: settings.$space-24;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.c-single-rea__techno {
  position: relative;

  img {
    height: settings.$space-40;
    max-width: fit-content;
  }
}