@use "../01_settings/settings.spacing";
@use "../01_settings/settings.media-queries" as queries;

.c-home {
  width: 100%;

  @include queries.min-width(lg) {
    overflow: hidden;
  }

  @include queries.max-width(lg) {
    padding: settings.$space-40 0 settings.$space-64 0;
  }
}

.c-home__content {
  display: flex;
  gap: settings.$space-40;

  @include queries.min-width(lg) {
    align-items: center;
    justify-content: space-between;
  }

  @include queries.max-width(lg) {
    flex-direction: column;
  }
}

.c-home__realisations-container {
  display: flex;

  @include queries.max-width(lg) {
    flex-direction: column;
    gap: settings.$space-20;
  }
}

.c-home__realisations-buttons {

  p {
    color: var(--text-white);
    padding-bottom: 1rem;
  }

  & > div {
    height: min-content;
    display: flex;
    align-items: center;
    gap: settings.$space-12;

    
  }
  @include queries.min-width(lg) {
      padding-top: settings.$space-40;
    }

  button {
    opacity: .5;
    color: var(--text-white);
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--text-white);
    border-radius: var(--radius-full);
    padding: settings.$space-4 settings.$space-10;
    transition: opacity var(--transition-in-out), color var(--transition-in-out), background-color var(--transition-in-out);
  }

  button.is-active {
    opacity: 1;
    color: var(--text-default);
    background-color: var(--text-white);
  }
}

.realisations-buttons-enter-active {
  opacity: 0;
  animation: fade .4s ease-in-out 3s;
}

.c-home__realisations {
  @include queries.min-width(lg) {
    transform: rotate(8deg);
  }
  @include queries.max-width(md) {
    overflow: hidden;
    margin-right: calc(var(--page-gutter)*-1);
    margin-left: calc(var(--page-gutter)*-1);
    padding: 0 var(--page-gutter);
  }
}

.c-home__swiper {
  padding: 6rem 3rem 6rem 0;
  transition: .4s transform;

  @include queries.max-width(lg) {
    padding: 0;
  }

  .swiper {
    overflow: visible;

    @include queries.min-width(lg) {
      height: calc(100vh - 12rem)!important;
    }
  }

  .swiper-slide {
    @include queries.min-width(lg) {
      flex-shrink: inherit;
    }

    @include queries.max-width(lg) {
      height: auto;
      width: 90%!important;
    }
  }
}

.home-slider-enter-active {
  @include queries.min-width(lg) {
    transform: translateY(100vh);
    transition: 1s all;
    transition-delay: 2s;
  }

  @include queries.max-width(lg) {
    opacity: 0;
    animation: fade .4s ease-in-out 3s;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    filter: blur(2px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.home-footer-enter-active {
  opacity: 0;
  animation: fade .4s ease-in-out 3s;
}

.c-home__footer {
  display: flex;
  align-items: center;

  @include queries.min-width(lg) {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
  }

  @include queries.max-width(lg) {
    flex-direction: column;
    align-items: center;
    margin-top: settings.$space-56;

    a:not(:last-child) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  a {
    transition: .4s color;
  }

  a:not(:last-child)::after {
    content: '•';

    @include queries.min-width(lg) {
      padding-left: 1rem;
      margin-right: 1rem;
    }
  }

  a:hover {
    color: var(--text-light);

    &::after {
      color: var(--text-white);
    }
  }
}
