@use "../01_settings/settings.spacing";
@use "../01_settings/settings.media-queries" as queries;

.c-home {
  width: 100%;
  background-color: var(--color-neutral-1);
  background-size: settings.$space-40 settings.$space-40;
  background-image: radial-gradient(circle, var(--color-neutral-2) .1rem, rgba(0, 0, 0, 0) .1rem);

  @include queries.min-width(lg) {
    overflow: hidden;
  }

  @include queries.max-width(lg) {
    padding: settings.$space-40 0 settings.$space-64 0;
  }
}

.c-home__content {
  display: flex;
  gap: settings.$space-40;

  @include queries.min-width(lg) {
    align-items: center;
    justify-content: space-between;
  }

  @include queries.max-width(lg) {
    flex-direction: column;
  }
}

.c-home__realisations {
  @include queries.min-width(lg) {
    transform: rotate(8deg);
  }
  @include queries.max-width(md) {
    overflow: hidden;
    margin-right: calc(var(--page-gutter)*-1);
    margin-left: calc(var(--page-gutter)*-1);
    padding: 0 var(--page-gutter);
  }
}

.c-home__swiper {
  padding: 6rem 3rem;
  transition: .4s transform;

  @include queries.max-width(lg) {
    padding: 0;
  }

  .swiper {
    overflow: visible;

    @include queries.min-width(lg) {
      height: calc(100vh - 12rem)!important;
    }
  }

  .swiper-slide {
    @include queries.min-width(lg) {
      flex-shrink: inherit;
    }

    @include queries.max-width(lg) {
      height: auto;
      width: 90%!important;
    }
  }
}

.home-test-enter-active {
  @include queries.min-width(lg) {
    transform: translateY(100vh);
    transition: 1s all;
    transition-delay: 2s;
  }

  @include queries.max-width(lg) {
    opacity: 0;
    animation: fade .4s ease-in-out 3s;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    filter: blur(2px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.c-home__footer {
  display: flex;
  align-items: center;

  @include queries.min-width(lg) {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
  }

  @include queries.max-width(lg) {
    flex-direction: column;
    align-items: center;
    margin-top: settings.$space-56;

    a:not(:last-child) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  a {
    transition: .4s color;
  }

  a:not(:last-child)::after {
    content: '•';

    @include queries.min-width(lg) {
      padding-left: 1rem;
      margin-right: 1rem;
    }
  }

  a:hover {
    color: var(--text-light);

    &::after {
      color: var(--text-white);
    }
  }
}
