@mixin custom-scrollbar($thumb: var(--text-default), $track: var(--border-default)) {
  overflow-y: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--radius-md);
    background-color: $thumb;
  }

  &::-webkit-scrollbar-track {
    background-color: $track;
  }
}