:root {
  // Definition

  --color-primary-0: rgba(0, 0, 0, 1);
  --color-primary-0-50: rgba(0, 0, 0, .5);

  --color-neutral-0: rgba(255, 255, 255, 1);
  --color-neutral-0-50: rgba(255, 255, 255, .5);

  --color-neutral-1: #242424;
  --color-neutral-2: #3d3d3d;
  --color-neutral-3: #bbbbbb;

  --color-gradient: linear-gradient(to right, #60d9f8, #3fb984);

  // Assignation

  --page-bg: var(--color-neutral-1);

  --text-default: var(--color-primary-0);
  --text-dark-light: var(--color-neutral-1);
  --text-white: var(--color-neutral-0);
  --text-light: var(--color-neutral-3);

  --link: var(--color-primary-3);

  --button-bg: var(--color-neutral-0);
  --button-border: var(--color-neutral-0);
}