:root {
  // Definition (color)

  --color-primary-0: rgba(0, 0, 0, 1);
  --color-primary-0-50: rgba(0, 0, 0, .5);

  --color-neutral-0: rgba(255, 255, 255, 1);
  --color-neutral-0-50: rgba(255, 255, 255, .5);

  --color-neutral-1: #242424;
  --color-neutral-2: #3d3d3d;

  --color-secondary-1: #F4CE14;

  --color-accent-1: rgba(212, 0, 90, 1);
  --color-accent-5: rgba(255, 131, 161, 1);

  --color-alert-1-0: rgba(195, 248, 191, 1);
  --color-alert-1-1: rgba(79, 234, 65, 1);
  --color-alert-1-2: rgba(25, 178, 12, 1);
  --color-alert-1-3: rgba(0, 73, 30, 1);

  // Assignation (components)

  --page-bg: var(--color-neutral-1);

  --text-default: var(--color-primary-0);
  --text-secondary: var(--color-secondary-1);
  --text-dark-light: var(--color-neutral-1);
  --text-white: var(--color-neutral-0);
  --text-light: var(--color-neutral-4);

  --link: var(--color-primary-3);
}